*  {
    margin:0;
    padding:0;
}

body {
    font-family: Poppins, serif;
    font-size: 18px;
    font-weight: 400;
}

#avatar{
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar img{
    margin-top: 20px;

    height: 200px;

    border-radius: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#occupation{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 20px;
}

#text{
    font-size: 17px;
    text-align: center;

    padding: 0 200px;

    margin-top: 15px;
}

.container{
    max-width: 600px;

    margin-top: 20px;
}

.col-sm {
    border: 2px solid black;
    border-radius: 20px;

    margin: 10px;

    transition: 0.2s;

    padding-right: 0;
    padding-left: 0;
}

.col-sm a{
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;

    color: black;
    font-weight: bold;

    transition: 0.2s;

    padding-left: 10%;
}

.col-sm a img{
    margin-top: 20px;
    height: 40px;
}

#mediumlogo{
    margin-top: 27px;
    height: 30px;
}

.col-sm:hover{
    border: 2px solid violet;
}


footer{
    display: flex;
    align-items: 100vh;
    justify-content: center;

    font-size: 15px;

    margin-top: 35px;
}

@media (max-width: 700px) {
    #text{
        text-align: center;
    
        padding: 0 35px;
    
        margin-top: 15px;
    }
}